# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archives & database files
*.zip
*.db
*.sqlite
*.sqlite3

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
